### Merging of eviction data with demographic information
This notebook imports `ERAP_Data_Zipcode_County.csv` and merges it with demographic data from the Census Bureau.

In [1]:
import pandas as pd

#### Import and merge different demographic data with data erap data

In [2]:
erap_data = pd.read_csv("../data/ERAP_Data_Zipcode_County.csv")

In [3]:
erap_data.head()

,County,Zipcode,Rent Arrears Applications,Prospective Rent Applications,Utility Arrears Applications,Household Income
0,New York,10001,408,322,50,"$92,840"
1,New York,10002,"1,260",991,110,"$36,982"
2,New York,10003,302,257,58,"$118,161"
3,New York,10004,37,28,1,"$190,223"
4,New York,10005,80,69,7,"$189,702"

#### Import  and clean race and language data
- read in the csv files containing race and language data
- transpose race and language data and drop unused columns

In [4]:
race_data = pd.read_csv(
    '../data/race-acs2019_5yr_B02001_86000US10457.csv' 
).rename(
    columns = {"Unnamed: 0": ""}
)

In [5]:
race_data.head()

,,"New York, NY",07002,07008,07020,07024,07036,07064,07077,07202,...,11436,11509,11559,11580,11581,11691,11692,11693,11694,11697
0,Total:,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,...,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%
1,White alone,42.73%,62.64%,54.42%,51.44%,49.87%,54.68%,62.16%,72.63%,34.25%,...,5.16%,94.38%,86.43%,33.44%,52.87%,36.99%,22.28%,61.27%,82.05%,94.99%
2,Black or African American alone,24.31%,10.58%,13.29%,5.26%,2.52%,29.35%,14.75%,10.81%,15.57%,...,62.87%,1.51%,1.26%,33.22%,20.79%,46.94%,59.82%,21.85%,6.55%,0.63%
3,American Indian and Alaska Native alone,0.43%,0.34%,0.45%,0.00%,0.24%,0.57%,0.00%,0.00%,0.58%,...,0.24%,0.68%,0.61%,0.05%,0.04%,0.27%,0.82%,0.00%,1.02%,0.00%
4,Asian alone,14.09%,9.93%,20.71%,38.15%,42.48%,3.63%,14.47%,2.85%,1.84%,...,9.07%,1.09%,2.45%,14.46%,13.67%,3.32%,5.29%,4.41%,2.92%,0.65%

In [6]:
language_data = pd.read_csv(
    '../data/language-acs2019_5yr_C16001_86000US10457.csv'
).rename(
    columns = {"Unnamed: 0": ""}
)

In [7]:
language_data.head()

,,"New York, NY",07002,07008,07020,07024,07036,07064,07077,07202,...,11436,11509,11559,11580,11581,11691,11692,11693,11694,11697
0,Total:,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,...,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%,100.00%
1,"Speak English ""very well"" TOTAL",26.03%,31.49%,38.32%,36.94%,31.43%,30.48%,27.03%,15.01%,35.72%,...,11.41%,10.55%,20.55%,24.54%,22.77%,21.29%,19.09%,22.18%,14.55%,3.02%
2,"Speak English less than ""very well"" TOTAL",22.47%,16.77%,17.92%,17.31%,25.76%,19.34%,10.17%,11.23%,41.85%,...,7.41%,1.96%,5.57%,15.62%,13.73%,13.77%,12.69%,17.57%,6.79%,0.33%
3,Speak only English,51.50%,51.74%,43.76%,45.75%,42.81%,50.18%,62.80%,73.76%,22.42%,...,81.18%,87.49%,73.88%,59.84%,63.50%,64.94%,68.22%,60.25%,78.65%,96.66%
4,Spanish:,24.06%,24.74%,31.89%,9.04%,8.31%,27.07%,16.46%,20.97%,66.36%,...,11.35%,1.70%,10.68%,19.83%,13.25%,22.10%,17.73%,19.77%,11.79%,0.38%

In [8]:
transposed_language_data = language_data.set_index("").T
transposed_language_data = transposed_language_data.reset_index(
).rename(
    columns ={
        "index":"Zipcode"
    }
)

transposed_language_data.head()

,Zipcode,Total:,"Speak English ""very well"" TOTAL","Speak English less than ""very well"" TOTAL",Speak only English,Spanish:,"Speak English ""very well""","Speak English less than ""very well""","French, Haitian, or Cajun:","Speak English ""very well""",...,Arabic:,"Speak English ""very well""","Speak English less than ""very well""",Other and unspecified languages:,"Speak English ""very well""","Speak English less than ""very well""",* Base value of zero; no percentage available,NaN,NaN,NaN
0,"New York, NY",100.00%,26.03%,22.47%,51.50%,24.06%,13.25%,10.82%,2.33%,1.57%,...,0.87%,0.51%,0.36%,1.95%,1.46%,0.48%,NaN,NaN,NaN,NaN
1,07002,100.00%,31.49%,16.77%,51.74%,24.74%,16.78%,7.95%,1.36%,1.10%,...,7.58%,4.29%,3.29%,0.47%,0.25%,0.22%,NaN,NaN,NaN,NaN
2,07008,100.00%,38.32%,17.92%,43.76%,31.89%,22.77%,9.12%,0.64%,0.63%,...,0.00%,0.00%,0.00%,1.87%,1.61%,0.25%,NaN,NaN,NaN,NaN
3,07020,100.00%,36.94%,17.31%,45.75%,9.04%,7.34%,1.70%,0.51%,0.51%,...,0.99%,0.84%,0.14%,2.15%,1.86%,0.28%,NaN,NaN,NaN,NaN
4,07024,100.00%,31.43%,25.76%,42.81%,8.31%,5.61%,2.70%,0.96%,0.77%,...,0.97%,0.89%,0.08%,1.04%,0.92%,0.12%,NaN,NaN,NaN,NaN

In [9]:
language_columns = [
    'Zipcode', 
    'Total:', 
    'Speak English "very well" TOTAL', 
    'Speak English less than "very well" TOTAL ', 
    'Speak only English'
]

transposed_language_data = transposed_language_data[language_columns]

In [10]:
transposed_race_data = race_data.set_index("").T
transposed_race_data = transposed_race_data.reset_index(
).rename(
    columns ={
        "index":"Zipcode"
    }
)

transposed_race_data.head()

,Zipcode,Total:,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races:,Two races including Some other race,"Two races excluding Some other race, and three or more races",* Base value of zero; no percentage available
0,"New York, NY",100.00%,42.73%,24.31%,0.43%,14.09%,0.06%,14.75%,3.63%,1.09%,2.54%,NaN
1,07002,100.00%,62.64%,10.58%,0.34%,9.93%,0.35%,11.93%,4.22%,1.42%,2.80%,NaN
2,07008,100.00%,54.42%,13.29%,0.45%,20.71%,0.22%,8.11%,2.79%,1.83%,0.96%,NaN
3,07020,100.00%,51.44%,5.26%,0.00%,38.15%,0.32%,1.35%,3.47%,0.11%,3.36%,NaN
4,07024,100.00%,49.87%,2.52%,0.24%,42.48%,0.07%,2.14%,2.67%,0.55%,2.12%,NaN

In [11]:
race_columns = [
    'Zipcode', 
    'White alone', 
    'Black or African American alone',
    'American Indian and Alaska Native alone', 
    'Asian alone',
    'Native Hawaiian and Other Pacific Islander alone',
    'Some other race alone', 'Two or more races:',
    'Two races including Some other race',
    'Two races excluding Some other race, and three or more races'
]
transposed_race_data=transposed_race_data[race_columns]

In [12]:
erap_full = erap_data.merge(transposed_language_data, how = "inner", on = "Zipcode")
erap_full.head()

,County,Zipcode,Rent Arrears Applications,Prospective Rent Applications,Utility Arrears Applications,Household Income,Total:,"Speak English ""very well"" TOTAL","Speak English less than ""very well"" TOTAL",Speak only English
0,New York,10001,408,322,50,"$92,840",100.00%,19.58%,12.64%,67.77%
1,New York,10002,"1,260",991,110,"$36,982",100.00%,22.89%,38.32%,38.79%
2,New York,10003,302,257,58,"$118,161",100.00%,15.57%,4.87%,79.56%
3,New York,10004,37,28,1,"$190,223",100.00%,20.68%,1.30%,78.02%
4,New York,10005,80,69,7,"$189,702",100.00%,21.20%,2.63%,76.17%

In [13]:
erap_full = erap_full.merge(transposed_race_data, how = "inner", on = "Zipcode")
erap_full.head()

,County,Zipcode,Rent Arrears Applications,Prospective Rent Applications,Utility Arrears Applications,Household Income,Total:,"Speak English ""very well"" TOTAL","Speak English less than ""very well"" TOTAL",Speak only English,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races:,Two races including Some other race,"Two races excluding Some other race, and three or more races"
0,New York,10001,408,322,50,"$92,840",100.00%,19.58%,12.64%,67.77%,65.00%,6.26%,0.07%,22.30%,0.09%,3.31%,2.97%,0.16%,2.82%
1,New York,10002,"1,260",991,110,"$36,982",100.00%,22.89%,38.32%,38.79%,32.02%,8.91%,0.97%,41.89%,0.03%,11.98%,4.20%,0.53%,3.67%
2,New York,10003,302,257,58,"$118,161",100.00%,15.57%,4.87%,79.56%,75.37%,5.57%,0.15%,14.47%,0.14%,2.14%,2.16%,0.34%,1.82%
3,New York,10004,37,28,1,"$190,223",100.00%,20.68%,1.30%,78.02%,60.96%,4.26%,0.00%,29.75%,0.51%,1.05%,3.48%,0.03%,3.45%
4,New York,10005,80,69,7,"$189,702",100.00%,21.20%,2.63%,76.17%,75.07%,1.08%,0.00%,17.73%,0.00%,2.49%,3.62%,0.18%,3.44%

In [14]:
erap_full.to_csv('../output/erap_full.csv')

In [ ]:
##workflow check: 
##for both the race and the language data, i'm transposing them so that zip code is a column, not a row
##then i'm downloading them to csvs so I can more efficiently delete columns and select only the ones we want 
##i already did an inner merge on language and erap data so that we have language data for each zip code in the erap dataset 
##that dataset is called erap merge
##now i'm going to hop into excel and edit race_data_1 so it's easier to work with in pandas
##then i'll do the merge and export the full dataset and edit it from there 
##the best workflow i've found is: start with dataset in excel, transpose in pandas, export and edit again in excel, merge in pandas
##i will probably then edit it once more, upload it here to do some basic analysis 
##and go back and forth between pivot tables in excel and getting descriptive stats in pandas